html.fssopen, html.fssopen body{ 
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  margin: 0;
	overflow: hidden;
}

section.dd_fullscreenslider{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
  z-index: 2000;
	font-size: 16px; 
	visibility: visible;
	overflow: hidden;
}

div.slidewrapper{ 
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: translate3d(0, 0, 0); 
	-moz-transition: -moz-transform 0.5s; 
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

ul.fssnav{ 
  list-style: none;
  padding: 0;
  margin: 0;
	position: fixed;
	top: 50%; 
	right: 20px; 
	transform: translateY(-50%); 
}

ul.fssnav li{
  margin-bottom: 15px;
}

ul.fssnav li a{
  text-decoration: none;
  border: 5px solid white; 
  border-radius: 50%;
  width: 10px; 
  height: 10px;
  display: block;
	position: relative;
  text-indent: -500px;
	outline: none;
  overflow: hidden;
}

ul.fssnav li a::after{ 
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  background: white; 
  transition: top 0.5s; 
}

ul.fssnav li.selected a::after{
  top: 0; 
}


section.dd_fullscreenslider article.slide{ 
  width: 100%;
  height: 100%;
	display: block;
	font-family: 'Lato', sans-serif; 
	font-size: 1.2em;
	line-height: 2em;
	color: white;
	overflow: hidden;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
	z-index: 1000;
  background: #E56464;
	-webkit-transform: translate3d(0, 0, 0);
}

section.dd_fullscreenslider article.slide h2{
	font-size: 3em;
	margin: 0;
	line-height: 1.1em;
	letter-spacing: 3px;
}

section.dd_fullscreenslider article.slide .scrollable{ 
	overflow: auto;
}

section.dd_fullscreenslider article.slide a{
	color: yellow;
}

section.dd_fullscreenslider article.slide:nth-of-type(2){ 
	background: #22AFE2;
}

section.dd_fullscreenslider article.slide:nth-of-type(3){ 
	background: #88D332;
}

section.dd_fullscreenslider article.slide:nth-of-type(4){ 
	background: #A36400;
}

section.dd_fullscreenslider div.closex{ 
  width: 50px;
  height: 50px;
	overflow: hidden;
  display: block;
  position: fixed;
  cursor: pointer;
	text-indent: -1000px;
	opacity: 0.8;
  z-index: 1001;
  top: 5px;
  right: 3px;
}

section.dd_fullscreenslider div.closex::before, section.dd_fullscreenslider div.closex::after{ 
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 6px;
  background: white; 
  top: 50%;
  margin-top: -3px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

section.dd_fullscreenslider div.closex::after{ 
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}